
.selectable:hover {
   border: 1.5px dashed rgb(0, 135, 40) !important;
   /* padding: 10px 0px !important; */
}

.selectable-content:hover {
   border: 1px dashed rgb(248, 3, 3) !important;
   /* padding: 10px 0px !important; */
}

.selectable-column:hover {
   border: 1px dashed rgb(0, 135, 40) !important;
   padding: 10px 0px !important;
}

.selected {
   border: 1px solid rgb(0, 135, 40) !important;
}